<div id="chatDiv">
<h2>Chat</h2>
<div>
    <input type="text" id="chatBox" placeholder="Ingresa un mensaje">
    <button id="bottonChat">Enviar</button>
</div>
<div>
    <p id="parrafoMensajes"></p>
</div>
</div>

