<div>
    <button onclick="window.location.href='/api/sessions/profile'">Perfil</button>
    <button onclick="window.location.href='/chat/'">Chat</button>
    <button onclick="window.location.href='/api/carts/{{user.cart.id_cart}}'">Carrito</button>
    <button onclick="window.location.href='/api/products/'">Productos</button>
    <button onclick="window.location.href='/api/products/realtimeproducts'">Realtimeproducts</button>
</div>