<nav class="navbar border-bottom fixed-top" data-bs-theme="light">
    <div class="container-md">
        <a class="navbar-brand" href="/api/sessions">Registro</a>
        <a class="navbar-brand" href="/">Login</a>
        <a class="navbar-brand" href="/api/sessions/profile">Perfil</a>
        <a class="navbar-brand" href="/api/products">Productos</a>
        <a class="navbar-brand" href="/api/carts/64720463593e5253c5d05510">Carrito</a>
    </div>
</nav>
{{!-- 
646edc7fe82ae1241a0fe150 --}}