
<form action="" id="formulario">
  <label class="product-label" for="title">Titulo:</label><br>
  <input class="product-input" type="text" id="title" name="title" placeholder="Producto" ><br>
  <label class="product-label" for="description">Descripcion:</label><br>
  <input class="product-input" type="text" id="description" name="description" placeholder="Descripcion del producto"><br>
  <label class="product-label" for="thumbnails">Thumbnails:</label><br>
  <input class="product-input" type="text" id="thumbnails" name="thumbnails" placeholder="[URL1, URL2, URL3]"><br>
  <label class="product-label" for="price">Precio:</label><br>
  <input class="product-input" type="text" id="price" name="price" placeholder="2000"><br>
  <label class="product-label" for="code">Code:</label><br>
  <input class="product-input" type="text" id="code" name="code" placeholder="abc123"><br>
  <label class="product-label" for="stock">Stock:</label><br>
  <input class="product-input" type="text" id="stock" name="stock" placeholder="35"><br>
  <label class="product-label" for="status">Status:</label><br>
  <input class="product-input" type="text" id="status" name="status" placeholder="true"><br>
  <label class="product-label" for="category">Categoria:</label><br>
  <input class="product-input" type="text" id="category" name="category" placeholder="categoria"><br>
  <br>
  <input class="product-input" type="submit" value="Agregar Producto">
</form>

<ul id="product-list">
</ul>