<div class="contairner">
  <div class="row">
    <div class="col-md-4">
      <form action="" id="formulario">
          <label for="title">Titulo:</label><br>
          <input type="text" id="title" name="title" placeholder="Producto" ><br>
          <label for="description">Descripcion:</label><br>
          <input type="text" id="description" name="description" placeholder="Descripcion del producto"><br>
          <label for="thumbnails">Thumbnails:</label><br>
          <input type="text" id="thumbnails" name="thumbnails" placeholder="[URL1, URL2, URL3]"><br>
          <label for="price">Precio:</label><br>
          <input type="text" id="price" name="price" placeholder="2000"><br>
          <label for="code">Code:</label><br>
          <input type="text" id="code" name="code" placeholder="abc123"><br>
          <label for="stock">Stock:</label><br>
          <input type="text" id="stock" name="stock" placeholder="35"><br>
          <label for="status">Status:</label><br>
          <input type="text" id="status" name="status" placeholder="true"><br>
          <label for="category">Categoria:</label><br>
          <input type="text" id="category" name="category" placeholder="categoria"><br>
          <br>
          <input type="submit" value="Agregar Producto" class="btnAgg">
      </form>
    </div>
    <div class="col-md-8">
      <ul id="product-list">
      </ul>
    </div>
  </div>
</div>

